.banner {
	margin: 0;
	padding: auto;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.banner-content {
	padding: 0 20px;
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form {
	width: 60%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.form-group {
	box-sizing: border-box;
	margin-bottom: 10px;
	padding: 0 20px;
	width: 100%;
}

.form-group > label {
	display: block;
	font-size: 13px;
	font-weight: bold;
	color: #000;
	margin-bottom: 5px;
}

.form-group > input {
	width: 90%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.form-group > textarea {
	width: 90%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.form > button {
	width: 90%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #000;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	margin: 0 20px;
}

.form > button:hover {
	background-color: rgba(0, 0, 0, 0.545);
	color: #fff;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.banner {
		padding-top: 30%;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.container {
		height: max-content;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin: 0 20px;
	}
	.banner-content {
		width: 100%;
	}
	.form {
		width: 100%;
		margin: 0;
	}
}
