.banner {
	background-color: #0e0e0e;
	width: 100%;
	min-height: 100%;
	height: max-content;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
	box-sizing: border-box;
}
.banner-container {
	padding: 50px 0;
	height: 700px;
	width: 100%;
	color: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	text-align: center;
	box-sizing: border-box;
}
.banner-content {
	padding: 0 20px;
	/* border-radius: 24px; */
	width: 100%;
	height: max-content;
	/* line-height: 10px; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	line-height: 20px;
	color: #000;
	/* z-index: 1; */
	box-sizing: border-box;
}
.banner-content h1 {
	font-size: 3rem;
	color: #fff;
}
.banner-content p {
	color: #fff;
	width: 70%;
	font-size: 1.2rem;
	line-height: 30px;
	text-align: justify;
}
.quotes-content {
	padding: 40px 20px;
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 30px;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	line-height: 20px;
	color: #fff;
	box-sizing: border-box;
}
.quotes-content h1 {
	font-size: 1.5rem;
	color: #fff;
}
.quote {
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: justify;
}

.card-body {
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	row-gap: 40px;
	/* border: 1px solid red; */
	margin: 50px 0px;
}
.card {
	width: 40%;
	height: 200px;
	background-color: #000;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 12px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.085);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 15px;
}
.card > h1 {
	font-size: 2rem;
	font-weight: 500;
}

.card > p {
	font-size: 1.2rem;
	font-weight: 300;
	width: 70%;
	text-align: center;
}
.banner-container > img {
	width: 40%;
	animation: bounce 2s infinite ease-in-out alternate;
}

@keyframes bounce {
	/* 20%, */
	0% {
		transform: translateY(0);
	}

	100% {
		transform: translateY(15px);
	}
}

@media screen and (max-width: 768px) {
	.banner {
		padding-top: 16%;
	}
	.banner-container {
		width: 100%;
		height: 100%;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	.banner-container > .banner-content {
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.banner-content > p {
		width: 90%;
	}
	.banner-container > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.quotes-content {
		flex-direction: column;
	}
	.quote {
		width: 80%;
	}
	.card {
		width: 80%;
		font-size: 13px;
	}
	.card > h1 {
		font-size: 1.5rem;
	}
	.card > p {
		font-size: 1rem;
	}
}
