.banner {
	background-color: #0e0e0e;
	margin: 0;
	padding: auto;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.banner-content {
	padding: 0 30px;
	margin-top: -50px;
	width: 40%;
	height: max-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
}

.banner-content > img {
	width: 100%;
	object-fit: cover;
}
.form {
	color: #fff;
	width: 60%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #fff;
	background-color: #000;
	border-radius: 5px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.form-group {
	box-sizing: border-box;
	margin-bottom: 10px;
	padding: 0 20px;
	width: 100%;
}

.form-group > label {
	color: #fff;
	display: block;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-group > input {
	width: 90%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.form-group > textarea {
	width: 90%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.form > button {
	width: 86%;
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 5px;
	background-color: #000;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	margin: 0 20px;
}

.form > button:hover {
	background-color: rgba(86, 86, 86, 0.545);
	color: #fff;
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.banner {
		padding-top: 30%;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.container {
		height: max-content;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		margin: 0 20px;
		row-gap: 60px;
	}
	.banner-content {
		order: 2;
		width: 100%;
	}
	.form {
		order: 1;
		width: 100%;
		margin: 0;
	}
}
