.banner {
	height: max-content;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	padding-top: 3%;
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;
}
.container > p {
	font-size: 1.5em;
	font-weight: bold;
	color: #000;
	margin: 20px 0 0 10%;
}
.project {
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: col;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 10%;
	margin: 20px 0 60px 10%;
	box-sizing: border-box;
}
.project-card {
	width: 20%;
	height: max-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;
	border-radius: 2%;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.project-card > img {
	border-radius: 2% 2% 0 0;
	width: 100%;
	height: 300px;
	object-fit: cover;
}
.project-card > h1 {
	font-size: 1.5rem;
	font-weight: 600;
	color: #000;
	margin: 10px 0 10px 20px;
}

.project-card > p {
	font-size: 1rem;
	font-weight: 400;
	color: #000;
	margin: 10px 0 30px 20px;
}

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
		height: max-content;
		justify-content: flex-start;
		padding-top: 3%;
	}
	.container > p {
		margin: 0 4%;
	}
	.project {
		width: 90%;
		height: auto;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		margin: 0 4%;
	}
	.project-card {
		margin: 30px 0;
		width: 100%;
		height: max-content;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		box-sizing: border-box;
		border-radius: 2%;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	}
	.project-card > img {
		width: 100%;
		height: 300px;
		object-fit: cover;
	}
}
