/* navbar */
.navbar {
	border: 0;
	font-size: 16px !important;
	line-height: 1.42857143 !important;
	position: absolute;
	z-index: 1;
	top: 0;
	backdrop-filter: blur(10px);
	list-style: none;
	width: 100%;
	display: flex;
	padding: 10px;
	flex-wrap: wrap;
	justify-content: space-between;
}
.navbarLogo {
	height: 100%;
	width: max-content;
	display: flex;
	justify-content: center;
	align-items: center;
}
.navbarLogo a {
	color: #fff;
	text-decoration: none;
}
/* navbar__container */
.navbar__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
/* navbar__menu */
.navbar__menu > ul {
	display: flex;
	justify-content: space-evenly;
	padding: 2;
	height: 100%;
}
.navbar__menu > ul > li {
	margin: 0 20px;
	list-style: none;
}
.navbar__menu > ul > li > a {
	color: #fff;
	text-decoration: none;
}

/* banner  */
.banner {
	background: url(../images/banner.jpg) no-repeat center top;
	height: 100%;
	width: 100%;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

/* container */
.container {
	width: 100%;
	max-width: 80%;
	margin: 0 auto;
	padding: 0 20px;
}

/* arrowBottom  */
.arrowBottom {
	position: absolute;
	width: 50px;
	color: #fff;
	filter: brightness(0) invert(1);
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
