/* banner  */
.banner {
	background: url(../images/office.jpeg) no-repeat;
	background-size: cover;
	background-position: center;
	background-clip: border-box;
	backdrop-filter: blur(8px) brightness(0.5);
	z-index: 0;
	height: 100%;
	width: 100%;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	/* bafilter: ; */
}

.banner-content > h1 {
	padding: 0 20px;
	background-color: linear-gradient(90deg, #000000, #000000);
	color: rgb(140, 140, 140);
}

/* container */
.container {
	width: 100%;
	max-width: 80%;
	margin: 0 auto;
	/* padding: 0 20px; */
}

/* arrowBottom  */
.arrowBottom {
	position: absolute;
	width: 50px;
	color: #fff;
	filter: brightness(0) invert(1);
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
